# SSH 连接配置
SSH_HOST=agiantii.top
SSH_PORT=22
SSH_USERNAME=root
SSH_PASSWORD=your_password_here

# 或者使用密钥登录（二选一）
# SSH_PRIVATE_KEY_PATH=C:/Users/xxx/.ssh/id_rsa

# 本地和远程目录配置
LOCAL_DIST=./dist
REMOTE_PATH=/www/wwwroot/slides.agiantii.top
