<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>tempalte - Slidev</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&family=Fira+Code:wght@200;400;600&display=swap" type="text/css">
<link rel="preload" as="image" href="https://cover.sli.dev">
<link rel="preload" as="image" href="https://sli.dev/assets/arrow-bottom-left.svg">
<link rel="preload" as="image" href="https://sli.dev/logo-square.png">
<link rel="preload" as="image" href="https://sli.dev/logo-circle.png">
<link rel="preload" as="image" href="https://sli.dev/logo-triangle.png">
<link rel="preload" as="image" href="https://sli.dev/logo.png">
<link rel="icon" href="https://cdn.jsdelivr.net/gh/slidevjs/slidev/assets/favicon.png">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta property="slidev:version" content="52.14.1">
<meta name="description" content="&quot;## Slidev Starter Template\nPresentation slides for developers.\n\nLearn more at [Sli.dev](https://sli.dev)\n&quot;">
<meta property="og:title" content="tempalte - Slidev">
<meta property="og:description" content="&quot;## Slidev Starter Template\nPresentation slides for developers.\n\nLearn more at [Sli.dev](https://sli.dev)\n&quot;">
<meta property="og:image" content="./og-image.png"></head>
<body>
  <div id="app"></div>
  <script type="module" src="/@fs/E:/workbench/code/slides/node_modules/.pnpm/@slidev+client@52.14.1_@emn_55031d784a1cfd7f5fefbdd49cb71f0f/node_modules/@slidev/client/main.ts"></script>
  <div id="mermaid-rendering-container"></div>
  
<script async src="https://platform.twitter.com/widgets.js"></script>
</body>
</html>
